*{
    margin: 5;
    padding: 05;
    box-sizing: border-box;
}
body{
    background-color: rgb(84, 81, 81);
    color: rgb(255, 255, 255);
}
#blipblap{
    
}
.banner-card{
    position: relative;
}
.banner-card img{
    max-width: 100%;
    height: auto;
}
.banner-text{
    position: absolute;
    top: 1;
    color: #1d1b1b;
    padding: -10px;
}