main{
    display: grid;
    grid-template: repeat(20, 1fr) / repeat(15, 1fr);
    gap: 10px;
}

body{
    margin: o;
}



.gameboy{
    background-image: url(GameBoyAdvance.png);
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-area: 1/6/9/9;
}

.gridbox{
    display: grid;
    
}